body{
    margin: 0;
    padding: 0;
    position: relative;
    top: 200px;
    background: #cccccc;
    
}

form  {
    background-color: aliceblue;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border-radius: 4px;
    margin-bottom: 15px;
}



button{
    margin-top: 15px;
    background-color: crimson;
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0,100%,50%);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}